bottle==0.12.18
bottle-websocket==0.2.9
certifi==2019.11.28
cupy==7.1.0
cycler==0.10.0
Eel==0.12.2
fastrlock==0.4
flowiz==2.3.1
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
kiwisolver==1.1.0
matplotlib==3.1.2
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
olefile==0.46
opencv-python==4.1.2.30
Pillow==7.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
six==1.13.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.41.1
whichcraft==0.6.1
